
/** Colors */
$color-wind: #253c72;
$color-white: #fff;
$color-black: #111111;
$color-red: #ff4136;
$color-yellow: #ffdc00;
$color-maroon: #85144b;

$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;
$color-teal: #39cccc;
$color-navy: #001f3f;
$color-orange: #ff851B;
$color-blue: #0074d9;

/** Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Lora:400,400i,700,700i&display=swap');


$font-title:        'Lato', sans-serif;
$font-main:         'Lora', serif;
$font-label:        'Lato', sans-serif;

/** CSS VARS **/

:root {

}
