
/** Colors */
$color-wind: #253c72;
$color-white: #fff;
$color-black: #111111;
$color-red: #ff4136;
$color-yellow: #ffdc00;
$color-maroon: #85144b;

$color-gray: #666;
$color-silver: #dddddd;
$color-silver-light: #eeeeee;
$color-teal: #39cccc;
$color-navy: #001f3f;
$color-orange: #ff851B;
$color-blue: #0074d9;

/** Fonts */

@font-face {
  font-family: "ObjectSans";
  src: url("/fonts/ObjectSans-Regular.otf") format("opentype")
}
@font-face {
  font-family: "ObjectSans";
  font-weight: bold;
  src: url("/fonts/ObjectSans-Heavy.otf") format("opentype")
}
@font-face {
  font-family: "ObjectSans";
  font-style: italic;
  src: url("/fonts/ObjectSans-Slanted.otf") format("opentype")
}
@font-face {
  font-family: "ObjectSans";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/ObjectSans-HeavySlanted.otf") format("opentype")
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-weight: bold;
  src: url("/fonts/Lora-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  src: url("/fonts/Lora-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/Lora-BoldItalic.ttf") format("truetype");
}


$font-title:        'ObjectSans', sans-serif;
$font-main:         'Lora', serif;
$font-label:        'ObjectSans', sans-serif;

/** CSS VARS **/

:root {

}
