form {
  max-width: 400px;
  margin: 0 auto 10em auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: $color-black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: $color-blue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $color-wind;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  &:hover {
    background-color: $color-maroon;
  }
  cursor: pointer;
  font-weight: bold;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 4px;
  font-family: $font-label;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: $color-maroon;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

textarea {
  height: 300px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
input[type='file'] {
  color: transparent;
}
.custom-file-input::before {
  content: 'Изабери фајл';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 11pt;
  color: $color-gray
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#warn {
  border-top: 1px dotted $color-gray;
  padding-top: 2em;
  margin: 2em 0 40px 0;
  font-size: 1rem;
  line-height: 1rem;
  color: $color-gray;
}

*:focus {
  outline: none;
}
