---
title: "Serbia is ME TOO"
layout: "main"
---

{% block main %}

<main>

<p style="margin-bottom: 2em">
U pitanju je <b>jedna, i samo jedna</b> priča o tebi - u kojoj možeš da kažeš sve šta želiš. Pokušaj da se opišeš sa svim vrlinama, strahovima, previranjima, uspesima, nadanjima... Ili, pak, opiši važan detalj života, borbu koju boriš ili si (pre)borio; nešto bez čega tvoj život ne bi bio ti... Ili, pak, napiši rečenicu-dve koje su karakteristične za tebe. Kako god, samo budi iskren i svoj.
Hvala.
</p>

<form name="add" method="POST" data-netlify="true" action="/me.too/ok/index.html">

  <div hidden aria-hidden="true">
    <label>
      Don’t fill this out if you're human:
      <input name="bot-field" />
    </label>
  </div>

  <fieldset>
    <legend><span class="number">1</span> Лични подаци</legend>
    <label for="name">Име и презиме</label><input type="text" name="name" id="name">
    <label for="mail">E-пошта (за контакт и будуће измене)</label><input type="email" name="mail" id="mail">
  </fieldset>

  <fieldset>
    <legend><span class="number">2</span> Ко си?</legend>
    <label for="text">Напиши се. Опиши се. Брутално искрено. Не хрли. Стани и размисли: ко је ово биће са твојим именом? Шта га чини посебним? Шта имаш у себи? Шта се догодило у твом животу? Шта ти недостаје? Чему стремиш? Употреби колико год желиш речи.</label>
    <p style="font-size: 0.85em">(користи <code>_</code> или <code>**</code> да нагласиш делове текста.)</p>
    <textarea id="text" name="text"></textarea>
  </fieldset>

  <fieldset>
    <legend><span class="number">3</span> О теби</legend>
    <label for="url">Твој лични сајт</label><input type="url" name="url" id="url">
    <label for="photo">Фотографија 512x512</label><input type="file" class="custom-file-input" id="photo" name="photo">
  </fieldset>


  <div id="warn">
    Нема ограничења ко се може пријавити. Дајем за право да одбијем
    пријаве које су рекламе и непримерене садржине.
  </div>

  <button type="submit">Пошаљи</button>
</form>
</main>

{% endblock %}

{% block head %}
<script>

</script>
{% endblock %}
