---
layout: "main"
---

{% block main %}

  <div style="text-align: center; margin-top: 6rem;">
  <h1>Хвала на пријави.</h1>

  <h2>Требало би да будете уврштени на сајт ускоро.</h2>
  </div>

{% endblock %}
