<footer>
  Serbia is made with ❤ by <a href="https://igo.rs" target="_blank">igor</a><br>
  Садржај и <a href="https://github.com/igr/serbiais" target="_blank">код</a> је доступан под <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY-4.0</a> лиценцом.
</footer>
