---
title: "Serbia is..."
layout: "main"
home: true
---

{% block main %}


<h1 id="title">
  <span style="z-index: 1">s</span>
  <span style="z-index: 2">e</span>
  <span style="z-index: 3">r</span>
  <span style="z-index: 4">b</span>
  <span style="z-index: 5">i</span>
  <span style="z-index: 6">a</span>
  <span style="z-index: 7; position: relative; top: -0.20em;">.</span>
  <span style="z-index: 8">i</span>
  <span style="z-index: 9">s</span>
</h1>
<h2>Енциклопедија живих: личне и искрене приче о нама самима, обичним и предивно посебним бићима.</h2>

<main>
  <div class="flex" id="list">
    {% for p in site.ids() | sortBy('id') | reverse %}
      <div><a href="{{ p.url }}">{{ p.name }}</a></div>
    {% endfor %}

    {% for i in range(0, 4 - (site.ids().length) % 4) -%}
    <div>&nbsp;</div>
    {%- endfor %}
  </div>
  <div id="button"><a href="/me.too/" class="btn"><span>додај се</span></a></div>
</main>

<div class="about">
  <p>Једну земљу чине њени људи. И то не само они ванредни, шампиони...
    Једну земљу чине њени људи које срећемо на улицама, у аутобусима, у редовима у продавницама, на пијаци,
    на родитељском састанку или у филмској сали; ми, обични, свакодневни: делимо судбине на блиском
    простору и времену. И свако од нас живи своју, јединствену, посебну, непоновљиву и, зато, предивну причу.
  </p>
  <p>
    Пројекат "Serbia.is" је <b>енциклопедија живих</b>, покушај да се приче о нама запишу и сачувају.
    Оне су ту ради нас самих. Постоје јер постојимо и ми, овде и сада.
  </p>
  <p>
    Визија превазилази овај сајт; намера је да пројекат расте како се увећава број прича. Ако успемо - заједно -
    да проширимо идеју, можемо доћи до нечега лепог. Хвала.
  </p>
</div>


{% endblock %}
