---
title: "Serbia is..."
layout: "main"
---

{% block main %}
{% set siteIds = site.collections.id %}

<div class="grid">
  {% set ids = siteIds | extractIds | firstN(8) %}

  {% for id in ids %}
    {% set p = siteIds[id][0] %}
    <div><a href="{{ p.url }}"><img src="{{ p.url }}i256.jpg"></a></div>
  {% endfor %}

</div>

<div style="text-align: center; font-size: 8rem; letter-spacing: 20px;">SERBIA IS</div>

<div class="grid-small">
  {% set ids = siteIds | extractIds %}

  {% for id in ids %}
    {% set p = siteIds[id][0] %}
    <div><a href="{{ p.url }}"><img src="{{ p.url }}/i128.jpg"></a></div>
  {% endfor %}

</div>
{% endblock %}
