---
title: Welcome!
layout: default
---

<main class="grid" style="padding: 5rem 5rem 0 5rem;">

    <div><a href="djordje-maric"><img src="djordje-maric/square.png"></a></div>
    <div><a href="vera-ristic"><img src="vera-ristic/square.jpg"></a></div>
    <div><a href="zuehlke"><img src="zuehlke/logo.png"></a></div>
    <div><a href="djura-slavnic"><img src="djura-slavnic/square.jpg"></a></div>
    <div><a href="daniel-spasic"><img src="daniel-spasic/square.jpg"></a></div>

    <div><a href="vera-ristic"><img src="vera-ristic/square.jpg"></a></div>
    <div><a href="daniel-spasic"><img src="daniel-spasic/square.jpg"></a></div>
    <div><a href="djura-slavnic"><img src="djura-slavnic/square.jpg"></a></div>
    <div><a href="djordje-maric"><img src="djordje-maric/square.png"></a></div>
    <div><a href="zuehlke"><img src="zuehlke/logo.png"></a></div>

</main>

<div style="text-align: center; font-size: 8rem; letter-spacing: 20px;">SERBIA IS</div>

<div class="main grid" style="padding: 0 5rem 5rem 5rem;">

    <div><a href="djordje-maric"><img src="djordje-maric/square.png"></a></div>
    <div><a href="vera-ristic"><img src="vera-ristic/square.jpg"></a></div>
    <div><a href="zuehlke"><img src="zuehlke/logo.png"></a></div>
    <div><a href="djura-slavnic"><img src="djura-slavnic/square.jpg"></a></div>
    <div><a href="daniel-spasic"><img src="daniel-spasic/square.jpg"></a></div>

    <div><a href="vera-ristic"><img src="vera-ristic/square.jpg"></a></div>
    <div><a href="daniel-spasic"><img src="daniel-spasic/square.jpg"></a></div>
    <div><a href="djura-slavnic"><img src="djura-slavnic/square.jpg"></a></div>
    <div><a href="djordje-maric"><img src="djordje-maric/square.png"></a></div>
    <div><a href="zuehlke"><img src="zuehlke/logo.png"></a></div>

    <div><a href="vera-ristic"><img src="vera-ristic/square.png"></a></div>
    <div><a href="djura-slavnic"><img src="djura-slavnic/square.jpg"></a></div>

</div>
